<header class="chat-menu">
    <h1 class="chat">Chat</h1>
</header>
<div>
    <input type="text" placeholder="Escriba su mensaje..." id="chatBox">
</div>
<section id="contenedorMensajes">
    {{!-- Se llena con js --}}
</section>